<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!--框架必需start-->
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!--框架必需end-->
    <!--bootstrap组件start-->
    <link href="~/Content/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/bootstrap/css/bootstrap.extension.css" rel="stylesheet" />
    <script src="~/Content/scripts/bootstrap/js/bootstrap.min.js"></script>
    <!--bootstrap组件end-->
    
    <!-- ace styles -->
    @*<link rel="stylesheet" href="/Content/ace/css/ace.css" />
    <link rel="stylesheet" href="/Content/ace/css/ace-skins.css" />*@

    <script src="~/Content/scripts/plugins/datepicker/WdatePicker.js"></script>
    <script src="/Content/scripts/layui/layui.js"></script>
    <script type="text/javascript">
        var layer;
        layui.use(['layer', 'form'], function () {
            layer = layui.layer;
        });
    </script>

    @System.Web.Optimization.Styles.Render("~/Content/scripts/plugins/tree/css",
    "~/Content/scripts/plugins/datetime/css",
    "~/Content/scripts/plugins/wizard/css",
    "~/Content/styles/ui.css")
    @System.Web.Optimization.Scripts.Render("~/Content/scripts/plugins/tree/js",
    "~/Content/scripts/plugins/validator/js",
    "~/Content/scripts/plugins/wizard/js",
            "~/Content/scripts/plugins/datepicker/js",
    "~/Content/scripts/utils/js")


    <!--工作流设计器依赖start-->

    <link href="~/Content/scripts/plugins/simditor/css/simditor.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/cxColor/css/jquery.cxcolor.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/uploadify/uploadify.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/uploadify/uploadify.extension.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/flow-ui/flow.css" rel="stylesheet" />

    <script src="~/Content/scripts/plugins/simditor/js/module.min.js"></script>
    <script src="~/Content/scripts/plugins/simditor/js/uploader.min.js"></script>
    <script src="~/Content/scripts/plugins/simditor/js/hotkeys.min.js"></script>
    <script src="~/Content/scripts/plugins/simditor/js/simditor.min.js"></script>
    <script src="~/Content/scripts/plugins/cxColor/js/jquery.cxcolor.js"></script>
    <script src="~/Content/scripts/plugins/uploadify/jquery.uploadify.min.js"></script>
    @System.Web.Optimization.Styles.Render("~/Content/styles/flowall.css")
    @System.Web.Optimization.Scripts.Render("~/Content/scripts/flow/js")
    <!--工作流设计器依赖end-->
    
   
</head>
<body>
    <form id="form1">
        @RenderBody()
        @Html.AntiForgeryToken()
    </form>
</body>
</html>