
@model OpenAuth.App.ViewModel.Module
@{
    ViewBag.Title = "title";
    Layout = null;
}

<div class="bjui-pageContent">
    <form action="/ModuleManager/Add" class="pageForm" data-toggle="validate">
        <table class="table table-condensed table-hover">
            <tbody>
                <tr>
                    <td align="center"><h3>* 添加</h3></td>
                </tr>
                   <tr>
                    <td>
                        @Html.HiddenFor(m =>m.Id)
                   <tr>
                    <td>
                        
                        
                        <label for="CascadeId" class="control-label x90">节点语义ID：</label>
                        <input type="text" name="CascadeId" id="CascadeId" value="@Model.CascadeId"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        
                        
                        <label for="Name" class="control-label x90">功能模块名称：</label>
                        <input type="text" name="Name" id="Name" value="@Model.Name"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        
                        
                        <label for="Url" class="control-label x90">主页面URL：</label>
                        <input type="text" name="Url" id="Url" value="@Model.Url"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        
                        
                        <label for="HotKey" class="control-label x90">热键：</label>
                        <input type="text" name="HotKey" id="HotKey" value="@Model.HotKey"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        
                        
                        <label for="ParentId" class="control-label x90">父节点流水号：</label>
                        <input type="text" name="ParentId" id="ParentId" value="@Model.ParentId"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        
                        <tr>
                            <td>
                                <label for="IsLeaf" class="control-label x85">是否叶子节点：</label>

                                <select name="IsLeaf" id="IsLeaf" data-toggle="selectpicker" data-rule="required">
                                    <option value="0" @if (Model.IsLeaf == 0) { <text> selected="selected" </text>  }>否</option>
                                    <option value="1" @if (Model.IsLeaf == 1) { <text> selected="selected" </text>  }>是</option>
                                </select>
                            </td>
                        </tr>
                   <tr>
                    <td>
                        
                        <tr>
                            <td>
                                <label for="IsAutoExpand" class="control-label x85">是否自动展开：</label>

                                <select name="IsAutoExpand" id="IsAutoExpand" data-toggle="selectpicker" data-rule="required">
                                    <option value="0" @if (Model.IsAutoExpand == 0) { <text> selected="selected" </text>  }>否</option>
                                    <option value="1" @if (Model.IsAutoExpand == 1) { <text> selected="selected" </text>  }>是</option>
                                </select>
                            </td>
                        </tr>
                   <tr>
                    <td>
                        
                        
                        <label for="IconName" class="control-label x90">节点图标文件名称：</label>
                        <input type="text" name="IconName" id="IconName" value="@Model.IconName"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        
                        
                        <label for="Status" class="control-label x90">当前状态：</label>
                        <input type="text" name="Status" id="Status" value="@Model.Status"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        
                        
                        <label for="ParentName" class="control-label x90">父节点名称：</label>
                        <input type="text" name="ParentName" id="ParentName" value="@Model.ParentName"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        
                        
                        <label for="Vector" class="control-label x90">矢量图标：</label>
                        <input type="text" name="Vector" id="Vector" value="@Model.Vector"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        
                        
                        <label for="SortNo" class="control-label x90">排序号：</label>
                        <input type="text" name="SortNo" id="SortNo" value="@Model.SortNo"
                               data-rule="required" size="20">
                    </td>
                   </tr>
               
                <tr>
                    <td>
                        <label for="Organizations" class="control-label x90">所属机构：</label>
                        <input id="OrganizationIds" name="OrganizationIds" value="@Model.OrganizationIds" style="display: none" />
                        <input type="text" name="Organizations" id="Organizations" 
                               data-toggle="selectztree" size="20" data-tree="#j_select_tree1" value="@Model.Organizations">
                        <ul id="j_select_tree1" class="ztree hide" data-toggle="ztree" >
                        </ul>
                    </td>
                </tr>
              
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-green">保存</button></li>
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        Init();
    });
    function Init() {
        var setting = {
            view: {
                selectedMulti: false
            },
            check: {
                enable: true,
                chkStyle: "checkbox",
                chkboxType: { "Y": "", "N": "" } //去掉勾选时级联
            },
            data: {
                key: {
                    name: 'Name',
                    title: 'Name'
                },
                simpleData: {
                    enable: true,
                    idKey: 'Id',
                    pIdKey: 'ParentId',
                    rootPId: 'null'
                }
            },
            callback: {
                onClick: zTreeOnClick,
                onCheck: zTreeCheck
            }
        };
        $.getJSON('OrgManager/LoadOrg', function (json) {
            var zTreeObj = $.fn.zTree.init($('#j_select_tree1'), setting, json);
            zTreeObj.expandAll(true);
        });
    }

    function zTreeCheck(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId),
            nodes = zTree.getCheckedNodes(true);
        var ids = '', names = '';
        for (var i = 0; i < nodes.length; i++) {
            ids += ',' + nodes[i].Id;
            names += ',' + nodes[i].Name;
        }
        if (ids.length > 0) {  //去掉第一个逗号
            ids = ids.substr(1);
            names = names.substr(1);
        }

        var $from = $('#' + treeId).data('fromObj');
        if ($from && $from.length) $from.val(names);

        $('#OrganizationIds').val(ids);
    }
    function zTreeOnClick(event, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId);
        zTree.checkNode(treeNode, !treeNode.checked, true, true);
        event.preventDefault();
    }
</script>