<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DDD权限管理系统</title>
    <meta name="description" content="overview & stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-responsive.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-skins.min.css")" />
</head>
<body>
    <script src="@Url.Content("~/Content/js/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/ace-elements.min.js")"></script>
    <script src="@Url.Content("~/Content/js/ace.min.js")"></script>

    @RenderBody()
</body>
</html>
