<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DDD权限管理系统</title>
    <meta name="description" content="overview & stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-responsive.min.css")" />
    <script src="@Url.Content("~/Content/js/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/ace-elements.min.js")"></script>
    <script src="@Url.Content("~/Content/js/ace.min.js")"></script>
</head>
<body>
    @RenderPage("~/Views/Home/Header.cshtml")
    <div class="container-fluid" id="main-container">
        <a href="#" id="menu-toggler"><span></span></a><!-- menu toggler -->
        @{
            Html.RenderAction("Navigate", "Menu");
        }
        <div id="main-content" class="clearfix">
            @RenderBody()
        </div><!-- #main-content -->
    </div><!--/.fluid-container#main-container-->
    <a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
        <i class="icon-double-angle-up icon-only"></i>
    </a>
    <!-- inline scripts related to this page -->
</body>
</html>