<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>登录-DDD权限管理系统</title>

    <script src="@Url.Content("~/Content/js/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-responsive.min.css")" />

</head>
<body class="login-layout">
    <div class="container-fluid" id="main-container">
        <div id="main-content">
            <div class="row-fluid">
                <div class="span12">

                    <div class="login-container">
                        <div class="row-fluid">
                            <div class="center">
                                <h1><i class="icon-leaf green"></i> <span class="red">Domain Driven Design</span> <span class="white">权限管理系统</span></h1>
                                <h4 class="blue">&copy; yubaolee</h4>
                            </div>
                        </div>
                        <div class="space-6"></div>
                        <div class="row-fluid">
                            <div class="position-relative">
                                <div id="login-box" class="visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header lighter bigger"><i class="icon-coffee green"></i> 请输入登陆信息</h4>

                                            <div class="space-6"></div>

                                            <form>
                                                <fieldset>
                                                    <label>
                                                        <span class="block input-icon input-icon-right">
                                                            <input type="text" class="span12" id="username" value="admin" placeholder="Username" />
                                                            <i class="icon-user"></i>
                                                        </span>
                                                    </label>
                                                    <label>
                                                        <span class="block input-icon input-icon-right">
                                                            <input type="password" class="span12" id="password" value="123456" placeholder="Password" />
                                                            <i class="icon-lock"></i>
                                                        </span>
                                                    </label>
                                                    <div class="space"></div>
                                                    <div class="row-fluid">
                                                        <label class="span8">
                                                            <input type="checkbox"><span class="lbl"> Remember Me</span>
                                                        </label>
                                                        <button id="btnLogin" type="button" data-loading-text="loading" onclick="Login();" class="span4 btn btn-small btn-primary"><i class="icon-key"></i> Login</button>
                                                    </div>
                                                    

                                                </fieldset>
                                            </form>
                                        </div><!--/widget-main-->
                                    </div><!--/widget-body-->
                                </div><!--/login-box-->
                            </div><!--/position-relative-->

                        </div>

                       
                    </div>
                </div><!--/span-->
            </div><!--/row-->
        </div>
    </div><!--/.fluid-container-->
    <!-- basic scripts -->
   
    <!-- page specific plugin scripts -->
    <!-- inline scripts related to this page -->

    <script type="text/javascript">
        function Login() {
            var username = $("#username").val();
            var password = $("#password").val();


            $.ajax({
                type: "POST",
                url: "/Home/Login",
                data: {
                    username: username,
                    password: password
                },
                success: function(rel) {
                    if (rel.Success)
                        window.location = "/Home/Index";
                    else {
                        $("#btnLogin").parent().after(
                           '<div class="alert alert-success alert-dismissable">' +
                               '<button type="button" class="close" ' +
                                       'data-dismiss="alert" aria-hidden="true">' +
                                   '&times;' +
                               '</button>' +
                              rel.Message +
                            '</div>');
                    }
                }
              
            });
        }
    </script>
</body>
</html>
