@model OpenAuth.Domain.Stock
@{
    ViewBag.Title = "Stock编辑界面";
    Layout = null;
}
<div class="bjui-pageContent">
    <form action="/StockManager/Add" class="pageForm" data-toggle="validate">
        <table class="table table-condensed table-hover">
            <tbody>
                   <tr>
                    <td>
                        @Html.HiddenFor(m =>m.Id)
                    </td>
                   </tr>
                   <tr>
                    <td>
                        <label for="Name" class="control-label x120">产品名称：</label>
                        <input type="text" name="Name" id="Name" value="@Model.Name"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        <label for="Number" class="control-label x120">产品数量：</label>
                        <input type="text" name="Number" id="Number" value="@Model.Number"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        <label for="Price" class="control-label x120">产品单价：</label>
                        <input type="text" name="Price" id="Price" value="@Model.Price"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                        <label for="Status" class="control-label x120">出库/入库：</label>
                        <input type="text" name="Status" id="Status" value="@Model.Status"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                  
                   <tr>
                    <td>
                        <label for="Time" class="control-label x120">操作时间：</label>
                        <input type="text" name="Time" id="Time" value="@Model.Time"
                               data-rule="required" size="20">
                    </td>
                   </tr>
                   <tr>
                    <td>
                         @Html.HiddenFor(m =>m.OrgId)
                @if (Model.Id == 0)  //添加
                {
                           //这个只用于显示使用，并不会进行提交处理，真正提交的是OrgId
                            <label for="OrgName" class="control-label x120">所属部门：</label>
                            <input type="text" name="OrgName" id="OrgName"
                                   data-toggle="selectztree" size="20" data-tree="#j_select_tree1" value="">
                            <ul id="j_select_tree1" class="ztree hide" data-toggle="ztree"></ul>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            Init();
                        });
                        function Init() {
                            var setting = {
                                view: {
                                    selectedMulti: false
                                },
                                check: {
                                    enable: true,
                                    chkStyle: "radio",
                                    radioType: "all"
                                },
                                data: {
                                    key: {
                                        name: 'Name',
                                        title: 'Name'
                                    },
                                    simpleData: {
                                        enable: true,
                                        idKey: 'Id',
                                        pIdKey: 'ParentId',
                                        rootPId: 'null'
                                    }
                                },
                                callback: {
                                    onClick: zTreeOnClick,
                                    onCheck: zTreeCheck
                                }
                            };
                            $.getJSON('/OrgManager/LoadForTree', function (json) {
                                var zTreeObj = $.fn.zTree.init($('#j_select_tree1'), setting, json);
                                zTreeObj.expandAll(true);
                            });
                        }
                        function zTreeCheck(e, treeId, treeNode) {
                            var zTree = $.fn.zTree.getZTreeObj(treeId),
                                nodes = zTree.getCheckedNodes(true);
                            var ids = '', names = '';
                            for (var i = 0; i < nodes.length; i++) {
                                ids += ',' + nodes[i].Id;
                                names += ',' + nodes[i].Name;
                            }
                            if (ids.length > 0) {  //去掉第一个逗号
                                ids = ids.substr(1);
                                names = names.substr(1);
                            }
                            var $from = $('#' + treeId).data('fromObj');
                            if ($from && $from.length) $from.val(names);
                             $('#OrgId').val(ids);
                        }
                        function zTreeOnClick(event, treeId, treeNode) {
                            var zTree = $.fn.zTree.getZTreeObj(treeId);
                            zTree.checkNode(treeNode, !treeNode.checked, true, true);
                            event.preventDefault();
                        }
                    </script>
                }
                    </td>
                   </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-green">保存</button></li>
    </ul>
</div>
