@{
    Layout = null;
}
@using OptimaJet.Workflow.Core.Model
@model OpenAuth.App.ViewModel.CommonApplyVM

<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/jquery-ui.js"></script>
<script src="/Scripts/kinetic-v5.1.0.min.js"></script>
<script src="/Scripts/workflowdesigner.min.js"></script>
<script src="/Scripts/designerconstants.js"></script>
<script src="/Scripts/ace.js"></script>
<script src="/Scripts/json5.js"></script>
<script src="/BllScripts/queryString.js"></script>

<link href="/Content/plugins/jQueryUI/base/jquery-ui.min.css" rel="stylesheet" />
<link href="/Content/workflowdesigner.css" rel="stylesheet" type="text/css" />

<input value="@Model.Id" id="processId" type="hidden" />
<input value="@Model.WorkflowName" id="schemeCode" type="hidden" />
<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                @if (Model.Commands.Length > 0)
                {
                <div class="panel-body">
                    <span class="label label-default">下图蓝色为当前状态，你可以执行：</span>
                    @foreach (var cmd in Model.Commands)
                    {
                    if (cmd.Classifier == TransitionClassifier.Reverse)
                    {
                    <button  class="btn ui-button-icon-primary btn-cmd" value="@cmd.Key">@cmd.Value</button>
                    }
                    else
                    {
                    <button class="btn btn-sm btn-success btn-cmd" value="@cmd.Key">@cmd.Value</button>
                    }
                    }
                </div>
                }
               <div id="wfdesigner"></div>
            </div>
        </div>
    </div>

<script src="/BllScripts/queryString.js"></script>
<script src="/BllScripts/processDetail.js?v=1"></script>